<h1>Edit Recipe</h1>

<%= render 'form' %>

<nav>
  <ul>
    <li><%= link_to 'Show Recipe', recipe_path(@recipe) %></li>
    <li><%= link_to 'Back to Recipes', recipes_path %></li>
    <li><%= link_to 'Manage Tags', tags_path %></li>
  </ul>
</nav>
