<p id="notice"><%= notice %></p>

<h1>My Recipes</h1>

<% @recipes.each do |recipe| %>
  <p><%= link_to recipe.name, recipe_path(recipe) %></p>
<% end %>

<p><%= link_to 'Add New Recipe', new_recipe_path %></p>
