<h1><%= @user.username %>'s Profile</h1>

<p><%= link_to "See #{ @user.username }'s Recipes", user_recipes_path(@user) %></p>

<p><%= link_to "See #{ @user.username }'s Tags", user_tags_path(@user) %></p>
