<div id="welcome-container">
  <h1>Welcome to RecipeBox!</h1>
</div>

<div id="user-intro-container">
  <p>Collect your favorite recipes in one place, search for them by keywords and/or time, and share them with your friends.</p>
  <p>If you'd rather not create an account right now, you can still <%= link_to 'explore the recipe collection', recipes_path %>.  Once you sign up, you'll be able to add your own recipes, tags, and comments.</p>
</div>

<div id="project-info-container">
  <p>This site was developed in January 2014 as a "breakable toy" project at <a href="http://www.launchacademy.com/">Launch Academy</a>.  I've had a lot of fun bringing this project into the world, and I hope you enjoy exploring it.</p>
</div>
