/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

.button {
  background-color: #4CA15C !important;
}

#page-content {
  padding-top: 1rem;
}

#recipe-intro-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted black;
}

#recipe-ingredients-container {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

#recipe-directions-container {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

#recipe-main-container {
  border-bottom: 1px dotted black;
}

textarea {
  height: auto !important;
}
