/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

.button {
  background-color: #4CA15C !important;
}

.comment-body p {
  margin-bottom: 0.25rem;
}

.comment-info {
  margin-bottom: 1.25rem;
}

.comment-buttons {
  float: right;
}

.tag-buttons {
  float: right;
}

.tag-link p {
  padding-top: 0.4rem;
}

#page-content {
  padding-top: 1rem;
}

#recipe-search-buttons {
  margin-top: 0.5rem;
}

#recipe-intro-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted black;
}

#recipe-ingredients-container {
  padding: 1.5rem 1.5rem 0.5rem 0;
}

#recipe-directions-container {
  padding: 1.5rem 0 0.5rem 1.5rem;
}

#recipe-main-container {
  border-bottom: 1px dotted black;
}

#recipe-comments-container {
  padding-top: 1rem;
}

#profile-links {
  padding-top: 1rem;
}

#tag-intro {
  padding-top: 0.6rem;
}

#tag-form-button {
  padding-top: 0.6rem;
}

#tag-form-input {
  padding-top: 0.6rem;
}

#remember-me-checkbox {
  margin-right: 0.5rem;
}

#welcome-container {
  padding: 1rem 0;
}

textarea {
  height: auto !important;
}
